.App {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    align-items: center;
    background-color: #e9f3ff;
    text-align: center;
}

.App-Canvas {
    min-height: 100vh;
    min-width: 100%;
}

.App-NavBar {
    min-height: 5vh;
    height: 5vh;
    /*padding-top: 2.5vh;*/
    /*padding-bottom: 2.5vh;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*color: #4f4e4e;*/
}

.App-Content {
    margin: 1vh;
}

.App-link {
    color: #61dafb;
}

.App-logo {
    height: 30vh;
    width: 30vh;
    margin: 2vh;
    pointer-events: none;
}

.Bottom-Buttons {
    /*padding-top: 1vh;*/
}

.Error-Message {
    color: red;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
