.App {
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #e9f3ff;
}

.App-logo {
  height: 30vh;
  width: 30vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: #4f4e4e;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
